In [17]:
import numpy as np
import pandas as pd

In [18]:
# from urllib.request import urlopen

In [19]:
nasdaqFile = './NASDAQ.csv'
spFile = './sp_500.csv'
googFile = './goog.csv'
oilFile = './'
xomFile = './'

In [20]:
data = pd.read_csv(googFile,sep=",", usecols=[0,4], names=['Date','Price'], header=0)

In [21]:
data.head()

        Date   Price
0   4/7/2010  563.54
1   4/6/2010  568.22
2   4/5/2010  571.01
3   4/1/2010  568.80
4  3/31/2010  567.12

In [22]:
# convert individual columns into arrays
returns = np.array(data["Price"][:-1],np.float)/np.array(data["Price"][1:], np.float) - 1

In [23]:
data["Returns"]=np.append(returns,np.nan)

In [24]:
data

           Date   Price   Returns
0      4/7/2010  563.54 -0.008236
1      4/6/2010  568.22 -0.004886
2      4/5/2010  571.01  0.003885
3      4/1/2010  568.80  0.002962
4     3/31/2010  567.12  0.000723
5     3/30/2010  566.71  0.007574
6     3/29/2010  562.45 -0.000427
7     3/26/2010  562.69 -0.000338
8     3/25/2010  562.88  0.009958
9     3/24/2010  557.33  0.015173
10    3/23/2010  549.00 -0.015247
11    3/22/2010  557.50 -0.004464
12    3/19/2010  560.00 -0.011299
13    3/18/2010  566.40  0.001485
14    3/17/2010  565.56  0.000637
15    3/16/2010  565.20  0.003587
16    3/15/2010  563.18 -0.028229
17    3/12/2010  579.54 -0.002753
18    3/11/2010  581.14  0.008136
19    3/10/2010  576.45  0.029026
20     3/9/2010  560.19 -0.004071
21     3/8/2010  562.48 -0.003066
22     3/5/2010  564.21  0.017346
23     3/4/2010  554.59  0.016999
24     3/3/2010  545.32  0.007873
25     3/2/2010  541.06  0.015713
26     3/1/2010  532.69  0.011181
27    2/26/2010  526.80  0.000703
28    2/25/2010  526.43 -0.009483
29    2/24/2010  531.47 -0.006728
...         ...     ...       ...
1228  5/19/2005  239.18  0.000084
1229  5/18/2005  239.16  0.025865
1230  5/17/2005  233.13  0.009002
1231  5/16/2005  231.05  0.007896
1232  5/13/2005  229.24  0.002274
1233  5/12/2005  228.72 -0.011112
1234  5/11/2005  231.29  0.015320
1235  5/10/2005  227.80  0.007875
1236   5/9/2005  226.02 -0.008771
1237   5/6/2005  228.02  0.004582
1238   5/5/2005  226.98 -0.006652
1239   5/4/2005  228.50  0.010213
1240   5/3/2005  226.19  0.017545
1241   5/2/2005  222.29  0.010409
1242  4/29/2005  220.00  0.002506
1243  4/28/2005  219.45 -0.001502
1244  4/27/2005  219.78  0.004709
1245  4/26/2005  218.75 -0.021384
1246  4/25/2005  223.53  0.035772
1247  4/22/2005  215.81  0.056753
1248  4/21/2005  204.22  0.030893
1249  4/20/2005  198.10  0.035005
1250  4/19/2005  191.40  0.023694
1251  4/18/2005  186.97  0.010649
1252  4/15/2005  185.00 -0.033690
1253  4/14/2005  191.45 -0.007671
1254  4/13/2005  192.93 -0.005310
1255  4/12/2005  193.96  0.003778
1256  4/11/2005  193.23  0.006144
1257   4/8/2005  192.05       NaN

[1258 rows x 3 columns]

In [25]:
def readFile(filename):
    data = pd.read_csv(filename,sep=",", usecols=[0,4], names=['Date','Price'], header=0)
    # convert individual columns into arrays
    returns = np.array(data["Price"][:-1],np.float)/np.array(data["Price"][1:], np.float) - 1
    data["Returns"]=np.append(returns,np.nan)
    data.index=data["Date"]
    #data = data["Returns"][0:-1]
    return data

In [26]:
googData = readFile(googFile)
# nasdaqData = readFile(nasdaqFile)

In [27]:
googData.head()

                Date   Price   Returns
Date
4/7/2010    4/7/2010  563.54 -0.008236
4/6/2010    4/6/2010  568.22 -0.004886
4/5/2010    4/5/2010  571.01  0.003885
4/1/2010    4/1/2010  568.80  0.002962
3/31/2010  3/31/2010  567.12  0.000723

In [28]:
# nasdaqData.head()

In [29]:
# xData = nasdaqData["Returns"][0:15].reshape(-1,1)
xData = googData["Returns"][0:-1].reshape(-1,1)

In [30]:
xData

array([[-0.00823625],
       [-0.00488608],
       [ 0.00388537],
       ...,
       [-0.00531037],
       [ 0.00377788],
       [ 0.00614423]])

In [37]:
yData = googData["Returns"][0:-1]

In [38]:
yData

Date
4/7/2010    -0.008236
4/6/2010    -0.004886
4/5/2010     0.003885
4/1/2010     0.002962
3/31/2010    0.000723
3/30/2010    0.007574
3/29/2010   -0.000427
3/26/2010   -0.000338
3/25/2010    0.009958
3/24/2010    0.015173
3/23/2010   -0.015247
3/22/2010   -0.004464
3/19/2010   -0.011299
3/18/2010    0.001485
3/17/2010    0.000637
3/16/2010    0.003587
3/15/2010   -0.028229
3/12/2010   -0.002753
3/11/2010    0.008136
3/10/2010    0.029026
3/9/2010    -0.004071
3/8/2010    -0.003066
3/5/2010     0.017346
3/4/2010     0.016999
3/3/2010     0.007873
3/2/2010     0.015713
3/1/2010     0.011181
2/26/2010    0.000703
2/25/2010   -0.009483
2/24/2010   -0.006728
               ...
5/20/2005    0.010160
5/19/2005    0.000084
5/18/2005    0.025865
5/17/2005    0.009002
5/16/2005    0.007896
5/13/2005    0.002274
5/12/2005   -0.011112
5/11/2005    0.015320
5/10/2005    0.007875
5/9/2005    -0.008771
5/6/2005     0.004582
5/5/2005    -0.006652
5/4/2005     0.010213
5/3/2005     0.017545
5/2/2005     0.010409
4/29/2005    0.002506
4/28/2005   -0.001502
4/27/2005    0.004709
4/26/2005   -0.021384
4/25/2005    0.035772
4/22/2005    0.056753
4/21/2005    0.030893
4/20/2005    0.035005
4/19/2005    0.023694
4/18/2005    0.010649
4/15/2005   -0.033690
4/14/2005   -0.007671
4/13/2005   -0.005310
4/12/2005    0.003778
4/11/2005    0.006144
Name: Returns, dtype: float64

In [39]:
from sklearn import datasets, linear_model

In [40]:
goodGoogModel = linear_model.LinearRegression()

In [41]:
goodGoogModel.fit(xData,yData)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [42]:
goodGoogModel.score(xData,yData)

1.0

In [43]:
goodGoogModel.coef_

array([ 1.])

In [44]:
from matplotlib.pyplot import scatter
import matplotlib.pyplot as plt

In [45]:
plt.scatter(xData, yData, color='black')
plt.plot(xData, goodGoogModel.predict(xData), color='blue', linewidth=3)

In [46]:
plt.xticks(())
plt.yticks(())

([], <a list of 0 Text yticklabel objects>)

In [ ]:
plt.show()